[Unit]
Description=Run test-monitor every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Unit=test-monitor.service

[Install]
WantedBy=timers.target
